# Aws
AWS_REGION=XXX
AWS_PROD_ACCOUNT_ID=XXX
AWS_CICD_ACCOUNT_ID=XXX
AWS_ORGANIZATION_ID=XXX
AWS_ORGANIZATION_UNIT_ID=XXX
AWS_GITHUB_CONNECTION_ARN=XXX
AWS_EKS_CONSOLE_ROLE_ARN=XXX
# GitHub
GH_ACTIONS_ROLE_NAME=XXX
GH_AUTHORIZED_ACTOR=XXX
GH_ORG=XXX
GH_TOKEN_SECRET_NAME=XXX